.searchBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    color: white;
    margin: 0 2px;
    border: none;
}

searchBar-input-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.mealType-selection {
    margin-top: 10px;
    padding: 5px 0 5px;
    width: 150px;
}

::placeholder   {
    background-color: transparent;
    color: white;
}

.searchBar input    {
    margin-top: -20px;
    width: 325px;
    padding: 10px;
    color: white;
    border: 1px solid black;
    background-color: rgba(51, 49, 47, 0.15);

}

.searchBar button:hover   {
    padding: 9px;
    background-color: rgba(51, 49, 47, 0.15);
    cursor: pointer;
    border: 1px solid orangered;
    color: black;
}

.search-button   {
    margin-top: -20px;
    padding: 10px;
    background-color: orangered;
    border: 1px solid orangered;
    cursor: pointer;
    margin-left: 10px;

}



.ext-recipe-img    {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.ext-recipe-tile-title  {
    max-width: 80px;
    text-align: center;
    margin: 12px 0;
}

/*.ext-recipe-tile-button {*/
/*    max-width: 100px;*/
/*    padding: 6px;*/
/*    background-color: transparent;*/
/*    border: 2px solid orangered;*/
/*    cursor: pointer;*/
/*}*/

/*.ext-recipe-tile-button:hover {*/
/*    max-width: 100px;*/
/*    padding: 6px;*/
/*    background-color: orangered;*/
/*    border: 2px solid orangered;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*}*/

.card-link    {
    text-decoration: none;


}

.ext-recipe-tile-container  {

    margin-top: 24px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 3px;
    /*border: 1px solid black;*/
    font-size: 10px;
    box-shadow: 0 1px 10px grey;
    border-radius: 2px;
    /*justify-content: center;*/
}

.ext-recipe-tile    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

