.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 0 2px;
    border: none;
}

::placeholder   {
    background-color: transparent;
    color: white;
}

.searchBar input    {
    margin-top: -20px;
    width: 325px;
    padding: 10px;
    color: white;
    border: 1px solid black;
    background-color: rgba(51, 49, 47, 0.15);

}

.searchBar button:hover   {
    padding: 9px;
    background-color: rgba(51, 49, 47, 0.15);
    cursor: pointer;
    border: 1px solid orangered;
    color: black;
}

.search-button   {
    margin-top: -20px;
    padding: 10px;
    background-color: orangered;
    border: 1px solid orangered;
    cursor: pointer;
    margin-left: 10px;

}
