/*.search-container   {*/
/*    margin: 0;*/
/*    */
/*}*/

header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 40px;
    margin: 5px;
}

.main-recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;



}

.recipe-container   {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /*border: 1px solid black*/

}

.card {
    overflow: hidden;

    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    margin-top: 50px;
    width: 150px;
    height: 300px;
    box-shadow:0 0px 5px grey;
    /*border: 1px solid black;*/
}

/*.recommendation-card {*/
/*    overflow: hidden;*/
/*    box-shadow: 0 2px 20px grey;*/
/*    border-radius: 2px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: stretch;*/
/*    margin: 5px;*/
/*    margin-top: 0px;*/
/*    width: 400px;*/
/*    height: 350px;*/
/*}*/

.cardRecommendation .card__image   {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card .card__image   {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card__info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    /*border: 1px solid black*/
}

.card__title   {
    position: relative;
    padding: 2px;
    margin-bottom: 60px;
    /*border: 1px solid black;*/
    background-color: rgba(51, 49, 47, 0.1);
    width: 100%;
}

.cardButtons  {
    position: absolute;
    margin: 80px 5px 0px 5px;
    /*margin-top: 20px;*/
    padding: 5px;
    border: 2px solid orangered;
    background: none;
    width: 7rem;

}

.card-link  {
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: row;


}



